<h1>レビュー投稿一覧</h1>

<% @posts.each do |post| %>

  <p>タイトル</p>
  <span><%= post.customer_id %></span>
  <p>タイトル</p>
  <span><%= post.review %></span>
  <p>タイトル</p>
  <span><%= post.evaluation %></span>
<% end %>