  <section class="jumbotron text-center">
    <div class="container">
      <h3>キッチンってどれも同じなの？</h3>
      <h3>ショールームで見るだけで使用感がわからない</h3>
        <p class="lead text-muted">
         Kitchin's.meでは実際に使っている方のリアルなレビューを反映<br>
         投稿へのコメントも可能で、投稿者へより詳細な使用感を聞くこともできます<br>
         キッチンはお家の顔となる存在です<br>
         私、僕だけのキッチンを一緒に探していきましょう<br>
        </p>
    </div>
  </section>
