
<div class="containerp-2">
  <div class="col-xs-9">
    <div class="row mb-4">
      <div class="col-md-10 col-lg-8 mx-auto ">
        <div class="welcom-text">
          <%= image_tag asset_path("top_image.jpeg"), class: "bd-placeholder-img bd-placeholder-img-lg card-img rounded shadow-lg" %>
          <div class="card-img-overlay d-flex">
            <p class="p-3 mb-2 bg-light text-dark　card-text align-self-center mx-auto font-weight-bold h5" id="top-text">
             welcome to Kitchin's.me！<br>
             私、僕だけのキッチンを選ぼう<br>
             ショールームではわからないリアルな使用感を<br>
             実際に使用している方がレビュー。<br>
             自分に合うキッチンを見つけよう<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    </style>
