<h2><会員一覧></h2>
<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>ニックネーム</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @customer.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td>
      <%= link_to admin_customer_path(customer) do %>
      <%= customer.nickname %>
      <% end %>
      </td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_deleted %>
          <span>退会</span>
      	<% else %>
  	    	<span>有効</span>
  		  <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>