  <section class="jumbotron text-center">
    <div class="container">
      <h1>メーカー編集</h1>
    </div>
  </section>
  
  <%= render 'form', genre: @genre, url: admin_genre_path(@genre), submit: '更新' %>
  <%= link_to '削除', admin_genre_path, method: :delete %>